@model ClaimsAndComplaints.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Ver</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdDepartment }) |
    @Html.ActionLink("Ir atras", "Index")
</p>
